<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../angular.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController1">
    <h1>我的备忘录</h1>
    <div>
        <input typ="text" ng-model="message" />
        <button ng-click="save()">新增</button>
    </div>
    <div>
        <ul>
            <li ng-repeat="list in lists">
                <input type="checkbox" ng-model="list.isChecked" />
                <span>{{list.name}}</span>
            </li>
        </ul>
    </div>
    <button ng-click="delete()">删除选中记录</button>
</body>

</html>
<script>
    angular.module('myApp', [])
        .controller('myController1', ['$scope', function ($scope) {
            //初始化
            $scope.message = '';
            $scope.lists = [
                { name: '吃饭', isChecked: false },
                { name: '睡觉', isChecked: true },
                { name: '学习', isChecked: false }
            ]
            $scope.save = function () {
                if ($scope.message.length > 0) {
                    $scope.lists.unshift({ name: $scope.message, isChecked: false });
                }
                $scope.message = '';
            }
            $scope.delete = function ($event) {
                /*  $scope.lists.forEach(function (item, index) {
                     if (item.isChecked) {
                         $scope.lists.splice(index, 1);
                         $scope.delete();
                     }
                 }) */

                var oldLists = $scope.lists;
                $scope.lists = [];
                oldLists.forEach(function (item, index) {
                    if (!item.isChecked) {
                        $scope.lists.push(item);
                    }
                })
            }
        }])
</script>